<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thtf.base.server.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.thtf.base.api.entity.SysUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="job_id" jdbcType="VARCHAR" property="jobId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted_flag" jdbcType="TINYINT" property="deletedFlag"/>
    </resultMap>
    <resultMap id="UserResultMap" type="com.thtf.base.api.vo.SysUserVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <association property="dept" javaType="com.thtf.base.api.vo.SysDeptVO">
            <id column="dept_id" jdbcType="VARCHAR" property="id"/>
            <result column="dept_name" jdbcType="VARCHAR" property="name"/>
        </association>
        <association property="job" javaType="com.thtf.base.api.vo.SysJobVO">
            <id column="job_id" jdbcType="VARCHAR" property="id"/>
            <result column="job_name" jdbcType="VARCHAR" property="name"/>
        </association>
        <collection property="roleList" ofType="com.thtf.base.api.vo.SysRoleVO">
            <id column="role_id" jdbcType="VARCHAR" property="id"/>
            <result column="role_code" jdbcType="VARCHAR" property="code"/>
            <result column="role_name" jdbcType="VARCHAR" property="name"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
      a.id,
      a.name,
      a.username,
      a.password,
      a.dept_id,
      a.job_id,
      a.email,
      a.phone,
      a.avatar,
      a.status,
      a.create_id,
      a.create_name,
      a.create_time,
      a.update_id,
      a.update_name,
      a.update_time,
      a.deleted_flag
    </sql>
    <select id="selectUserList" resultMap="UserResultMap">
        select
        a.id,
        a.name,
        a.username,
        a.password,
        a.email,
        a.phone,
        a.avatar,
        a.status,
        a.create_id,
        a.create_name,
        a.create_time,
        a.update_id,
        a.update_name,
        a.update_time,

        b.id dept_id,
        b.name dept_name,
        c.id job_id,
        c.name job_name
        from sys_user a left join sys_dept b on a.dept_id = b.id and b.deleted_flag = 0
        left join sys_job c on a.job_id = c.id and c.deleted_flag = 0
        where
        a.deleted_flag = 0
        <if test="queryConditionVO.name != null and queryConditionVO.name != ''">
            and a.name like concat('%', #{queryConditionVO.name}, '%')
        </if>
        order by a.id
    </select>
    <select id="selectUserById" resultMap="UserResultMap">
        select
        a.id,
        a.name,
        a.username,
        a.password,
        a.email,
        a.phone,
        a.avatar,
        a.status,
        a.create_id,
        a.create_name,
        a.create_time,
        a.update_id,
        a.update_name,
        a.update_time,
        b.id dept_id,
        b.name dept_name,
        c.id job_id,
        c.name job_name,
        r.id role_id,
        r.code role_code,
        r.name role_name
        from sys_user a left join sys_dept b on a.dept_id = b.id and b.deleted_flag = 0
        left join sys_job c on a.job_id = c.id and c.deleted_flag = 0
        left join sys_user_role ur on a.id = ur.user_id
        left join sys_role r on ur.role_id = r.id
        where
        a.deleted_flag = 0
        and a.id = #{id}
    </select>

    <select id="selectUserByUsername" resultMap="UserResultMap">
        select
        a.id,
        a.name,
        a.username,
        a.password,
        a.email,
        a.phone,
        a.avatar,
        a.status,
        a.create_id,
        a.create_name,
        a.create_time,
        a.update_id,
        a.update_name,
        a.update_time,
        b.id dept_id,
        b.name dept_name,
        c.id job_id,
        c.name job_name,
        r.id role_id,
        r.code role_code,
        r.name role_name
        from sys_user a left join sys_dept b on a.dept_id = b.id and b.deleted_flag = 0
        left join sys_job c on a.job_id = c.id and c.deleted_flag = 0
        left join sys_user_role ur on a.id = ur.user_id
        left join sys_role r on ur.role_id = r.id
        where
        a.deleted_flag = 0
        and a.username = #{username}
    </select>

</mapper>